<div class="kanban-board">

    <!-- ==================== TOP CONTROLS ==================== -->

    <div class="filters-search">

        <div class="toggles">

            <mat-button-toggle-group
                name="ticketFilter"
                aria-label="Ticket Filter"
                class="ticket-toggle">

                <mat-button-toggle value="all">
                    All
                </mat-button-toggle>

                <mat-button-toggle value="myTickets">
                    My Tickets
                </mat-button-toggle>

            </mat-button-toggle-group>

        </div>


        <button
            matButton="elevated"
            class="create-ticket-button"
            (click)="openCreateTicketDialog()"
        >
            <span class="plus-icon">+</span>
            Create
        </button>

    </div>


    <!-- ==================== KANBAN COLUMNS ==================== -->

    <div class="kanban-columns">


        <!-- ==================== TO DO ==================== -->

        <div class="board-column todo-column">

            <div class="column-header">

                <div class="column-title-wrapper">

                    <span class="status-dot"></span>

                    <h2>To Do</h2>

                    <span class="task-count">
                        {{ todo.length }}
                    </span>

                </div>

                <button class="column-more">
                    •••
                </button>

            </div>


            <div
                cdkDropList
                class="task-list"
                #todoList="cdkDropList"
                [cdkDropListData]="todo"
                [cdkDropListConnectedTo]="[inProgressList, finishedList]"
                (cdkDropListDropped)="drop($event)"
            >

                @for (item of todo; track item) {

                    <div
                        cdkDrag
                        class="task-card"
                    >

                        <div class="task-card-top">

                            <div class="task-title">
                                {{ item.title }}
                            </div>

                            <div class="task-priority">
                                {{ item.ticketPriority }}
                            </div>

                        </div>


                        <div class="task-description">
                            {{ item.description }}
                        </div>


                        <div class="task-card-bottom">

                            <div class="assigned-to">
                                {{ item.assignedTo }}
                            </div>

                            <div class="task-date">
                                {{ item.createdAt }}
                            </div>

                        </div>

                    </div>

                }

            </div>

        </div>



        <!-- ==================== IN PROGRESS ==================== -->

        <div class="board-column progress-column">

            <div class="column-header">

                <div class="column-title-wrapper">

                    <span class="status-dot"></span>

                    <h2>In Progress</h2>

                    <span class="task-count">
                        {{ inProgress.length }}
                    </span>

                </div>

                <button class="column-more">
                    •••
                </button>

            </div>


            <div
                cdkDropList
                class="task-list"
                #inProgressList="cdkDropList"
                [cdkDropListData]="inProgress"
                [cdkDropListConnectedTo]="[todoList, finishedList]"
                (cdkDropListDropped)="drop($event)"
            >

                @for (item of inProgress; track item) {

                    <div
                        cdkDrag
                        class="task-card"
                    >

                        <div class="task-card-top">

                            <div class="task-title">
                                {{ item.title }}
                            </div>

                            <div class="task-priority">
                                {{ item.ticketPriority }}
                            </div>

                        </div>


                        <div class="task-description">
                            {{ item.description }}
                        </div>


                        <div class="task-card-bottom">

                            <div class="assigned-to">
                                {{ item.assignedTo }}
                            </div>

                            <div class="task-date">
                                {{ item.createdAt }}
                            </div>

                        </div>

                    </div>

                }

            </div>

        </div>



        <!-- ==================== FINISHED ==================== -->

        <div class="board-column finished-column">

            <div class="column-header">

                <div class="column-title-wrapper">

                    <span class="status-dot"></span>

                    <h2>Finished</h2>

                    <span class="task-count">
                        {{ finished.length }}
                    </span>

                </div>

                <button class="column-more">
                    •••
                </button>

            </div>


            <div
                cdkDropList
                class="task-list"
                #finishedList="cdkDropList"
                [cdkDropListData]="finished"
                [cdkDropListConnectedTo]="[todoList, inProgressList]"
                (cdkDropListDropped)="drop($event)"
            >

                @for (item of finished; track item) {

                    <div
                        cdkDrag
                        class="task-card"
                    >

                        <div class="task-card-top">

                            <div class="task-title">
                                {{ item.title }}
                            </div>

                            <div class="task-priority">
                                {{ item.ticketPriority }}
                            </div>

                        </div>


                        <div class="task-description">
                            {{ item.description }}
                        </div>


                        <div class="task-card-bottom">

                            <div class="assigned-to">
                                {{ item.assignedTo }}
                            </div>

                            <div class="task-date">
                                {{ item.createdAt }}
                            </div>

                        </div>

                    </div>

                }

            </div>

        </div>

    </div>

</div>