// src/_variables.scss

$brand-gradient: linear-gradient(
  135deg,
  #6200ff,
  #c0008f,
  #f0004f,
  #ff5200,
  #ffad00
);

$brand-purple: #6200ff;

$header-shadow: #dad2e5;

$footer-background: #f2eff6;